body{
    background: rgb(32,30,32);
    background: linear-gradient(36deg, rgba(32,30,32,1) 0%, rgba(224,169,109,1) 35%, rgba(221,195,165,1) 100%);
    color:#f5f5f5 !important;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.title{
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    color: #ddc3a5;
    text-transform: uppercase;
}

.ombre{
    box-shadow: 10px 10px 20px #201e20;
}

/* header */

address > a{
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    text-shadow:3px 3px #201e20;
    color: #f5f5f5;
}

address > a:hover{
    color:#201e20;
    text-shadow: none;
}

.ariel img{
    width: 300px;
}

/* expériences */

.container-timeline {
    position: relative;
    padding: 10px 10px 10px 50px; /* padding left fort pour de la place pour la timeline*/
    max-width: 500px;
    margin: 20px;
}
/* ligne */
.container-timeline::before {
    position: absolute;
    content: '';
    width: 5px;
    background-color: #f5f5f5;
    top:0;
    bottom: 0;
    left: 15px;
}

.exp{
    background-color: #f5f5f5;
    border-radius: 10px;
    position: relative;
    margin-bottom: 5px;
}

/* triangle */
.exp::before {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-right-color: #f5f5f5;
    border-left: 0;
    top: 35%;
    left:-10px;
}

/* cercle sur la timeline */

.exp::after{
    content: "";
    background: #e0a96d;
    border: 3px solid #f5f5f5;
    width: 16px; height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 35%; 
    left: -40px;
    box-shadow: #201e20 10px 10px 20px;
}

p.date{
    color: #e0a96d;
    font-size: 15px;
    font-weight: bold;
}

p.poste{
    color: #ddc3a5;
    font-size: 15px;
    font-style: italic;
}

/* formations */

.card{
    color:#e0a96d;
}

/* langues */

/** contour le 100% de la progress barre */
.bordure{
    border: solid 2px #f5f5f5;
    border-radius: 5px;
    margin: 20px auto;
    width: 100%;
    background-color: #f5f5f5;
}

/** intérieure de la progress barre */
.barre {
    text-align: center;
    height: 45px;
    background-color: #ddc3a5;
    font-size: 35px;
}

.fra-por{
    width: 100%;
    animation: evolution 3s ease-in-out infinite;
}

/** appel de l'anim pour le background color faisant progresser la barre*/

@keyframes evolution {
   from {
    width:0;
   }
  }

  /** largeur de fond pour l'anglais */
.eng{
    width: 66%;
    animation: evolution 3s ease-in-out infinite;
}