*,
::before,
::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
    background: rgb(32,30,32);
    background: linear-gradient(36deg, rgba(32,30,32,1) 0%, rgba(224,169,109,1) 35%, rgba(221,195,165,1) 100%);
    color:#f5f5f5;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.centrer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    padding:10px;
}

.title{
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    color: #ddc3a5;
    box-shadow: 10px 10px 20px #201e20;
    text-align: center;
    margin: auto 300px;
    text-transform: uppercase;
}

/** accueil */

#ariel{
    margin:auto;
}

.container-accueil{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin-top: 10px;
}
address{
    margin-top: 5px;
}

address > p{
    margin-bottom: 5px;
}

address > a{
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    text-shadow:3px 3px #201e20;
    color: #f5f5f5;
}

address > a:hover{
    color:#201e20;
    text-shadow: none;
}

.right-accueil img{
    max-height: 200px;
    border: solid 2px #f5f5f5;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #201e20;
}

h2{
    margin-top: 10px;
}

/** competences */

.paraph{
    margin: 20px 300px;
    font-size: 25px;
}

h4.title{
    font-size: 18px;
    margin:20px 300px;
}

.container-competences{
    display: grid;
    grid-template-areas: 
        'header header'
        'paraph paraph'
        'left-competence right-competence';
    justify-content: space-around;
}

/** slider en css */

/** box des 2 sliders */
.slider-container {
    max-width: 500px;
    border: solid 2px #e0a96d;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #201e20;
    margin: auto;
    overflow: hidden !important; /* cache les p qui suit */
}

/** design du texte dans les boites */
.slider-container p {
    background-color: #f5f5f5;
    flex-shrink: 0;
    padding: 40px 0;
    color: #ddc3a5;
    width: 100%;
    font-size: 45px;
    text-align: center;
}

/** animation  timing naming*/
.slider-1 .slider {
    display: flex;
    animation: slider-1 12s infinite ease-in-out;
}

.slider-2 .sliders {
    display: flex;
    animation: slider-2 8s infinite ease-in-out;
}

/** appel des anims plus pourcentage le temp de défilement */

@keyframes slider-1 {
    0%,
    9% {
        transform: translateX(0);
    }
    14%,
    23% {
        transform: translateX(-100%);
    }
    28%,
    37% {
        transform: translateX(-200%);
    }
    42%,
    51% {
        transform: translateX(-300%);
    }
    56%,
    65% {
        transform: translateX(-400%);
    }
    70%,
    79% {
        transform: translateX(-500%);
    }
    
    84%,
    93%
    {
        transform: translateX(-600%);
    }
    100% {
        transform: translateX(-700%);
    }
}

@keyframes slider-2 {
    0%,
    28% {
        transform: translateX(0);
    }
    33%,
    61% {
        transform: translateX(-100%);
    }
    66%,
    94% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
    
}

/* expériences */

.container-timeline {
    position: relative;
    padding: 10px 10px 10px 50px; /* padding left fort pour de la place pour la timeline*/
    max-width: 500px;
    margin: 20px;
}
/* ligne */
.container-timeline::before {
    position: absolute;
    content: '';
    width: 5px;
    background-color: #f5f5f5;
    top:0;
    bottom: 0;
    left: 15px;
}

.exp{
    padding: 20px 30px;
    background-color: #f5f5f5;
    box-shadow: #201e20 10px 10px 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 5px;
}

/* triangle */
.exp::before {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-right-color: #f5f5f5;
    border-left: 0;
    top: 35%;
    left:-10px;
}

/* cercle sur la timeline */

.exp::after{
    content: "";
    background: #e0a96d;
    border: 3px solid #f5f5f5;
    width: 16px; height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 35%; 
    left: -40px;
    box-shadow: #201e20 10px 10px 20px;
}

p.date{
    color: #e0a96d;
    font-size: 15px;
    font-weight: bold;
}

p.poste{
    color: #ddc3a5;
    font-size: 15px;
    font-style: italic;
}

/* formation */

.container-formations {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin: 30px auto;
}

.box {
    display: grid;
    grid-template-areas: 
        'box-img box-paraph'
        'box-img box-paraph'
    ;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: #f5f5f5 solid 2px;
    box-shadow: #201e20 10px 10px 20px;
    border-radius: 10px;
}

.box-img img{
    height: 200px;
    border: solid 2px #f5f5f5;
    border-radius: 10px;
}

.diplome{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
.dipLieu{
    font-size: 16px;
    font-style: italic;
    margin-left: 15px;
}

/* langues */

/** contour le 100% de la progress barre */
.progress-border{
    border: solid 2px #f5f5f5;
    border-radius: 5px;
    box-shadow: #201e20 10px 10px 20px;
    margin: 20px auto;
    width: 100%;
    background-color: #f5f5f5;
}

/** intérieure de la progress barre */
.progress {
    text-align: center;
    height: 45px;
    width: 100%;
    background-color: #ddc3a5;
    animation: fondBarre 5s infinite;
    font-size: 35px;
}

/** appel de l'anim pour le background color modifiant la couleur de fond*/

@keyframes fondBarre {
    0%,
    30% {background-color: #ddc3a5;}
    30%,
    60%{background-color: #e0a96d;}
    60%,
    80%{background-color: #201e20;}
    100%{background-color: #ddc3a5;}
  }

  /** largeur de fond pour l'anglais */
#ang {
    width: 66%;
}

/* loisirs */

.hobby{
    margin: 20px auto;
    font-size: 30px;
}

.li-loisir{
    list-style: none;
    margin: 20px auto;
    padding: 50px;
    border: solid 2px #f5f5f5;
    border-radius: 5px;
    box-shadow: 10px 10px 20px #201e20;
}